<app-title iconClass="isc i-contact" title="Registrar nueva unidad"
    description="Puedes registrar datos generales, horarios de operación, contacto y supervisor asignado a la unidad">
</app-title>

<div class="card mt-3">
    <app-stepper-widget [steps]="steps" [currentStep]="currentStep()" />
    @if (configurarHorario()) {
        @defer (when configurarHorario();prefetch on idle){
            <app-agregar-operatividad [idUnidad]="idNuevaUnidad()!"
                                      (configuracionTerminada)="onConfiguracionTerminada()"></app-agregar-operatividad>
        } @loading{
            <div class="flex justify-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
            </div>
        }
    }

    @if (registrado() && !configurarHorario()) {
    <div class="mt-3">
        <app-state iconSrc="/assets/icon/group.webp" title="Información registrada"
            description="La información general de la unidad ha sido registrada con éxito, opcionalmente puedes agregar los horarios de operación"></app-state>
        <div class="flex flex-row justify-center gap-3 mt-8">
            <p-button label="Registrar nueva unidad" (onClick)="prev()"></p-button>
            <p-button severity="warn" label="Continuar configurando" (onClick)="next()"></p-button>
        </div>
    </div>
    } @else if (!registrado() && !configurarHorario()) {
    <form [formGroup]="form" (ngSubmit)="onSave()" class="space-y-2 mt-10 pt-2">
        <h5>Generales</h5>
        <div class="grid gap-3 md:grid-cols-3">

            <div class="space-y-1.5">
                <label for="clave" class="text-sm font-semibold required">Clave</label>
                <input pInputText id="clave" formControlName="clave" class="w-full" placeholder="Ej: 5844"
                    [invalid]="isControlInvalid(form, 'clave', null)" />
                @if (isControlInvalid(form, 'clave', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'clave') }}
                </p-message>
                }
            </div>

            <div class="space-y-1.5">
                <label for="nombre" class="text-sm font-semibold required">
                    Nombre de Unidad
                </label>
                <input pInputText id="nombre" formControlName="nombre" class="w-full" placeholder="Nombre descriptivo"
                    [invalid]="isControlInvalid(form, 'nombre', null)" />
                @if (isControlInvalid(form, 'nombre', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'nombre') }}
                </p-message>
                }
            </div>

            <div class="space-y-1.5">
                <label for="sup" class="text-sm font-semibold required">
                    Supervisor
                </label>
                <p-select inputId="sup" formControlName="idSupervisor" [options]="supervisores()"
                    optionLabel="nombreCompleto" optionValue="id" appendTo="body" placeholder="Seleccione un supervisor"
                    class="w-full" [invalid]="isControlInvalid(form, 'idSupervisor', null)" />
                @if (isControlInvalid(form, 'idSupervisor', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'idSupervisor') }}
                </p-message>
                }
            </div>

        </div>
        <h5>Contacto</h5>
        <div class="grid gap-3 md:grid-cols-2">

            <div class="space-y-1.5">
                <label for="idZona" class="text-sm font-semibold required">Zona</label>
                <p-select inputId="idZona" formControlName="idZona" [options]="zonas()" optionLabel="nombre"
                    optionValue="id" appendTo="body" placeholder="Seleccione una zona" class="w-full"
                    [invalid]="isControlInvalid(form, 'idZona', null)" />
                @if (isControlInvalid(form, 'idZona', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'idZona') }}
                </p-message>
                }
            </div>

            <div class="space-y-1.5">
                <label for="idEstado" class="text-sm font-semibold required">Estado</label>
                <p-select inputId="idEstado" formControlName="idEstado" [options]="estados()" optionLabel="nombre"
                    optionValue="id" appendTo="body" placeholder="Seleccione un estado" class="w-full"
                    [invalid]="isControlInvalid(form, 'idEstado', null)" />
                @if (isControlInvalid(form, 'idEstado', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'idEstado') }}
                </p-message>
                }
            </div>

            <div class="space-y-1.5">
                <label for="telefono" class="text-sm font-semibold">Teléfono</label>
                <input pInputText id="telefono" formControlName="telefono" class="w-full" placeholder="###-###-####"
                    [invalid]="isControlInvalid(form, 'telefono', null)" />
                @if (isControlInvalid(form, 'telefono', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'telefono') }}
                </p-message>
                }
            </div>


            <div class="space-y-1.5 md:col-span-1">
                <label for="map" class="text-sm font-semibold">
                    Coordenadas (lat, lng)
                </label>
                <input pInputText id="map" formControlName="localizacion" class="w-full"
                    placeholder="Longitud, -Latitud" [invalid]="isControlInvalid(form, 'localizacion', null)" />
                @if (isControlInvalid(form, 'localizacion', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'localizacion') }}
                </p-message>
                }
            </div>
            <div class="space-y-1.5 md:col-span-2">
                <label for="email" class="text-sm font-semibold">
                    Email Corporativo
                </label>
                <input pInputText id="email" formControlName="email" class="w-full" placeholder="ejemplo@empresa.com"
                    [invalid]="isControlInvalid(form, 'email', null)" />
                @if (isControlInvalid(form, 'email', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'email') }}
                </p-message>
                }
            </div>
            <div class="space-y-1.5 md:col-span-2">
                <label for="direccion" class="text-sm font-semibold">Dirección</label>
                <textarea pTextarea id="direccion" formControlName="direccion" rows="3" class="w-full"
                    [autoResize]="false" placeholder="Calle, número, colonia..."
                    [invalid]="isControlInvalid(form, 'direccion', null)">
      </textarea>
                @if (isControlInvalid(form, 'direccion', null)) {
                <p-message severity="error" size="small" variant="simple">
                    {{ getControlErrorMessage(form, 'direccion') }}
                </p-message>
                }
            </div>

        </div>
        <div class="flex gap-3 justify-end pt-4">
            <p-button label="Guardar" icon="pi pi-save" [loading]="saving()" (onClick)="onSave()" />
        </div>
    </form>
    }
</div>
