<app-title description="Puedes registrar datos generales, horarios de operación, contacto y supervisor asignado a la unidad" iconClass="isc i-contact"
           title="Registrar nueva unidad">
</app-title>

<div class="card mt-3">
    <app-stepper-widget [currentStep]="currentStep()" [steps]="steps"/>
    @if (configurarHorario()) {
        @defer (when configurarHorario(); prefetch on idle) {
            <app-agregar-operatividad (configuracionTerminada)="onConfiguracionTerminada()"
                                      [idUnidad]="idNuevaUnidad()!"></app-agregar-operatividad>
        } @loading {
            <div class="flex justify-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
            </div>
        }
    }

    @if (registrado() && !configurarHorario()) {
        <div class="mt-3">
            <app-state description="La información general de la unidad ha sido registrada con éxito, opcionalmente puedes agregar los horarios de operación" iconSrc="/assets/icon/group.webp"
                       title="Información registrada"></app-state>
            <div class="flex flex-row justify-center gap-3 mt-8">
                <p-button (onClick)="prev()" label="Registrar nueva unidad"></p-button>
                <p-button (onClick)="next()" label="Continuar configurando" severity="warn"></p-button>
            </div>
        </div>
    } @else if (!registrado() && !configurarHorario()) {
        <form (ngSubmit)="onSave()" [formGroup]="form" class="space-y-2 mt-10 pt-2">
            <h5>Generales</h5>
            <div class="grid gap-3 md:grid-cols-3">

                <div class="space-y-1.5">
                    <label class="text-sm font-semibold required" for="clave">Clave</label>
                    <input [invalid]="isControlInvalid(form, 'clave', null)" class="w-full" formControlName="clave" id="clave" pInputText
                           placeholder="Ej: 5844"/>
                    @if (isControlInvalid(form, 'clave', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'clave') }}
                        </p-message>
                    }
                </div>

                <div class="space-y-1.5">
                    <label class="text-sm font-semibold required" for="nombre">
                        Nombre de Unidad
                    </label>
                    <input [invalid]="isControlInvalid(form, 'nombre', null)" class="w-full" formControlName="nombre" id="nombre"
                           pInputText
                           placeholder="Nombre descriptivo"/>
                    @if (isControlInvalid(form, 'nombre', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'nombre') }}
                        </p-message>
                    }
                </div>

                <div class="space-y-1.5">
                    <label class="text-sm font-semibold required" for="sup">
                        Supervisor
                    </label>
                    <p-select [invalid]="isControlInvalid(form, 'idSupervisor', null)" [options]="supervisores()" appendTo="body"
                              class="w-full" formControlName="idSupervisor" inputId="sup"
                              optionLabel="nombreCompleto"
                              optionValue="id" placeholder="Seleccione un supervisor"/>
                    @if (isControlInvalid(form, 'idSupervisor', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'idSupervisor') }}
                        </p-message>
                    }
                </div>

            </div>
            <h5>Contacto</h5>
            <div class="grid gap-3 md:grid-cols-2">

                <div class="space-y-1.5">
                    <label class="text-sm font-semibold required" for="idZona">Zona</label>
                    <p-select [invalid]="isControlInvalid(form, 'idZona', null)" [options]="zonas()" appendTo="body" class="w-full"
                              formControlName="idZona" inputId="idZona" optionLabel="nombre" optionValue="id"
                              placeholder="Seleccione una zona"/>
                    @if (isControlInvalid(form, 'idZona', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'idZona') }}
                        </p-message>
                    }
                </div>

                <div class="space-y-1.5">
                    <label class="text-sm font-semibold required" for="idEstado">Estado</label>
                    <p-select [invalid]="isControlInvalid(form, 'idEstado', null)" [options]="estados()" appendTo="body" class="w-full"
                              formControlName="idEstado" inputId="idEstado" optionLabel="nombre" optionValue="id"
                              placeholder="Seleccione un estado"/>
                    @if (isControlInvalid(form, 'idEstado', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'idEstado') }}
                        </p-message>
                    }
                </div>

                <div class="space-y-1.5">
                    <label class="text-sm font-semibold" for="telefono">Teléfono</label>
                    <input [invalid]="isControlInvalid(form, 'telefono', null)" class="w-full" formControlName="telefono" id="telefono" pInputText
                           placeholder="###-###-####"/>
                    @if (isControlInvalid(form, 'telefono', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'telefono') }}
                        </p-message>
                    }
                </div>


                <div class="space-y-1.5 md:col-span-1">
                    <label class="text-sm font-semibold" for="map">
                        Coordenadas (lat, lng)
                    </label>
                    <input [invalid]="isControlInvalid(form, 'localizacion', null)" class="w-full" formControlName="localizacion" id="map"
                           pInputText placeholder="Longitud, -Latitud"/>
                    @if (isControlInvalid(form, 'localizacion', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'localizacion') }}
                        </p-message>
                    }
                </div>
                <div class="space-y-1.5 md:col-span-2">
                    <label class="text-sm font-semibold" for="email">
                        Email Corporativo
                    </label>
                    <input [invalid]="isControlInvalid(form, 'email', null)" class="w-full" formControlName="email" id="email"
                           pInputText
                           placeholder="ejemplo@empresa.com"/>
                    @if (isControlInvalid(form, 'email', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'email') }}
                        </p-message>
                    }
                </div>
                <div class="space-y-1.5 md:col-span-2">
                    <label class="text-sm font-semibold" for="direccion">Dirección</label>
                    <textarea [autoResize]="false" [invalid]="isControlInvalid(form, 'direccion', null)" class="w-full" formControlName="direccion" id="direccion"
                              pTextarea placeholder="Calle, número, colonia..."
                              rows="3">
      </textarea>
                    @if (isControlInvalid(form, 'direccion', null)) {
                        <p-message severity="error" size="small" variant="simple">
                            {{ getControlErrorMessage(form, 'direccion') }}
                        </p-message>
                    }
                </div>

            </div>
            <div class="flex gap-3 justify-end pt-4">
                <p-button (onClick)="onSave()" [loading]="saving()" icon="pi pi-save" label="Guardar"/>
            </div>
        </form>
    }
</div>
