<p-table (onLazyLoad)="onLazyLoad($event)"
         [first]="first()"
         [lazy]="lazy()"
         [loading]="loading()"
         [paginator]="paginator()"
         [rowsPerPageOptions]="[10, 20, 30]"
         [rows]="rows()"
         [scrollable]="true"
         [showCurrentPageReport]="true"
         [tableStyle]="{ 'min-width': '50rem' }"
         [totalRecords]="totalRecords()"
         [value]="solicitudes()"
         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
    <ng-template #header>
        <tr>
            <th style="min-width: 250px">Colaborador</th>
            <th style="min-width: 250px">Flujo de aprobación</th>
            <th style="min-width: 120px">Estatus final</th>
            <th style="min-width: 280px">Fechas solicitadas</th>
            <th class="text-center" style="min-width: 120px">Autorizados</th>
            @if (showActions()) {
                <th>Acciones</th>
            }
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            <td class="py-3">
                <div class="flex flex-col gap-1.5">
                    <div class="flex items-center gap-2">
                        <img alt="icon" height="18" ngSrc="/assets/icon/cheque.png" width="18">
                        <span class="font-semibold text-blue-900">{{ item.colaborador.nombreCompleto }}</span>
                    </div>
                    <div class="text-sm font-medium">
                        <span>{{ item.unidad }}</span>
                        <div class="mt-3">Solicitud: {{ item.tipoSolicitud }} - #{{ item.folioSolicitud }}</div>
                    </div>
                </div>
            </td>
            <td class="py-3">
                <app-pipeline-aprobacion [estatusJefe]="item.estatusJefe"
                                         [estatusRrhh]="item.estatusRrhh"/>
            </td>
            <td class="py-3">
                @switch (item.estatusGeneral) {
                    @case ('APROBADA') {
                        <app-status-badge [label]="item.estatusGeneral" color="green"/>
                    }
                    @case ('PENDIENTE') {
                        <app-status-badge [label]="item.estatusGeneral" color="yellow"/>
                    }
                    @default {
                        <app-status-badge [label]="item.estatusGeneral" color="red"/>
                    }
                }
            </td>
            <td class="py-3">
                <div class="flex flex-wrap gap-1 max-w-[280px]">
                    @for (day of item.solicitudes; track day.id) {
                        <div
                            class="flex flex-col items-center justify-center w-8 h-10 overflow-hidden shadow-md rounded-b-md">
                            <div [class.bg-amber-200]="day.estatus === 'PENDIENTE'"
                                 [class.bg-green-700]="day.estatus === 'APROBADA'"
                                 [class.bg-red-700]="day.estatus === 'CANCELADA'"
                                 [class.text-amber-900]="day.estatus === 'PENDIENTE'"
                                 [class.text-white]="day.estatus === 'APROBADA' || day.estatus === 'CANCELADA'"
                                 class="w-full text-[8px] font-semibold uppercase text-center py-px">
                                {{ day.fecha | date:'MMM' }}
                            </div>
                            <div [ngClass]="{
                                'text-emerald-800': day.estatus==='APROBADA',
                                'text-rose-500': day.estatus==='CANCELADA',
                                'text-amber-600': day.estatus==='PENDIENTE'
                            }" class="flex-1 w-full flex items-center justify-center">
                                <span [class.line-through]="day.estatus==='CANCELADA'"
                                      class="text-[11px] font-bold">
                                    {{ day.fecha | date:'dd' }}
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </td>
            <td class="text-center">
                <div class="flex flex-col items-center justify-center">
                    <span class="text-md font-bold">{{ item.diasAprobados }}/{{ item.diasTotalSolicitud }}</span>
                    <span class="text-sm">Días</span>
                </div>
            </td>
            @if (showActions()) {
                <td>
                    <div class="flex gap-2">
                        @if (showDetails) {
                            <p-button *hasPermission="Autoridades.VACACIONES_GESTOR_VER_DETALLES_SOLICITUD"
                                      [routerLink]="['detalles', item.folioSolicitud]" icon="pi pi-file-o"/>
                        }

                        @if (item.estatusGeneral === 'APROBADA') {
                            <p-button (onClick)="papeletaClick.emit(item.folioSolicitud)"
                                      *hasPermission="Autoridades.VACACIONES_GESTOR_DESCARGAR_PAPELETA"
                                      icon="pi-download pi"
                                      label="Papeleta"/>
                        }
                        @if (item.estatusGeneral === 'PENDIENTE') {
                            <p-button (onClick)="deleteClick.emit(item.id)" icon="pi pi-trash"
                                      severity="danger"></p-button>
                        }

                    </div>
                </td>
            }
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td [attr.colspan]="showActions() ? 6 : 5" class="text-center py-8 text-gray-500">
                <app-state description="No se encontraron solicitudes" title="Sin registros"/>
            </td>
        </tr>
    </ng-template>
</p-table>
